<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

{{if .First }}
    Username {{.Username}}<br>
    First {{.First}}<br>
    Last {{.Last}}<br>
    Hashed Password {{.PasswordHash}}<br>
    <h2><a href="/logout">Log out</a></h2>
{{else}}
    <h2><a href="/login">Log in</a></h2>
    <h2><a href="/register">Sign up</a></h2>
{{end}}

<h2>Go to <a href="/bar">the bar</a></h2>
</body>
</html>