<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
</head>
<body>

<form method="post">
    <input type="text" name="username" placeholder="username"><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="firstname" placeholder="first name"><br>
    <input type="text" name="lastname" placeholder="last name"><br>
    <label for="selectRole">Role</label>
    <select name="role" id="selectRole">
        <option value="user">user</option>
        <option value="admin">admin</option>
        <option value="007">007</option>
    </select>
    <input type="submit">
</form>

