<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Type Submit</title>
</head>
<body>

<header>
    {{if .Method}}<p>The request method: {{.Method}}</p>{{end}}
    {{if .Host}}<p>The request host: {{.Host}}</p>{{end}}
    {{if .ContentLength}}<p>The request ContentLength: {{.ContentLength}}</p>{{end}}

    {{if .URL}}<p>The request URL:</p>
    <ul>
        <li>Scheme: {{.URL.Scheme}}</li>
        <li>Opaque: {{.URL.Opaque}}</li>
        <li>Host: {{.URL.Host}}</li>
        <li>Path: {{.URL.Path}}</li>
        <li>RawPath: {{.URL.RawPath}}</li>
        <li>ForceQuery: {{.URL.ForceQuery}}</li>
        <li>RawQuery: {{.URL.RawQuery}}</li>
        <li>Fragment: {{.URL.Fragment}}</li>
    </ul>
    {{end}}


    {{if .Header}}
    {{range $k, $v := .Header}}
    <p>{{$k}}</p>
    <ul>
        {{range $v}}
        <li>{{.}}</li>
        {{end}}
    </ul>
    {{end}}
    {{end}}

    {{if .Submissions}}<p><strong>variable names</strong> (identifiers) and <em>values</em>:</p>
    {{range $key, $value := .Submissions}}
    <p><strong>{{$key}}</strong></p>
    <ul>{{range $value}}<li><em>{{.}}</em></li>{{end}}</ul>
    {{end}}
    {{end}}

</header>

<form action="/" method="POST">
    <input type="text" name="fname" placeholder="first name" autofocus autocomplete="off">
    <input type="submit" name="submit-btn" value="onda button">
</form>

</body>
</html>